body {
    font-size: 13px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.3em;
}
.container {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(239,238,238);
    position: relative;
}
.slideshow {
    width: 100%;
    overflow: hidden;
    padding: 0 100px;
    margin: 0 auto 20px;
    //border: 5px solid #999;
}
.slides {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.slide {
    float: left;;
    width: 200px;
    height: 250px;
    padding: 10px;
}
.slide img {
    display: block;
    height: 250px;
    align-self: center;
}

.nav {
    margin: 10px auto;
    text-align: center;
}
.nav a {
    display: inline-block;
    margin: 0;
    padding: .2em .5em;
    color: #00A3CB;
    text-decoration: none;

}
.nav a:hover {
    color: #00436B;
}
.nav a.active,
.nav a.active:hover {
    background-color: #00A3CB;
    color: white;
}
.disabled {
    color: #f00;
}

.next,
.prev
{
    z-index: 500;
    background-color:#aae0e0;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #5481b8;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:12px 14px;
    text-decoration:none;
    text-shadow:0px 2px 3px #7977c2;
    position: absolute;
    top: 125px;
}
.next:hover,
.prev:hover
{
    background-color:#8387cf;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


